#course-not-found-error{
    display: none;
    margin-bottom:30px;
    width: 100%;
    max-width:27em;
    padding: .75rem 1.2rem;
    background: #FCF1F3;
    border: 1px solid #C53B26;
    border-radius: 4px;
    color: #C53B26; 
} 

#course-selection{
    display: none;
}

#course-selection-table{
    margin-bottom:30px;
}

/* #course-input {
    display: none;
} */

#location-detail-specific, #location-detail-preferred{
    display: none;
    margin-left: 30px;
    margin-bottom: 20px;
}

#ttc-info{
    display: none;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 150px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.7); 
}

.modal-content {
    background-color: #F2F9FF;
    margin: auto;
    padding: 20px;
    border: 1.5px solid #126DC1;
    border-radius: 6px;
    width: 40%;
    text-align: center;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.close {
    color: #6E6E6E;
    float: right;
    text-decoration:underline;
    cursor:pointer;
    font-size: 17px;
}

.svg-icon {
    width: 3.5em;
    height: 3.5em;
    
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #126DC1;
}

.svg-icon circle {
    stroke: #126DC1;
    stroke-width: 1;
}

.submit-message{
    font-size: 26px;
    font-weight: 600;
}

.copy {
    color: #126DC1;
    text-decoration:underline;
    cursor: pointer;
}
